@use "../../Style/Sass/Index" as *;

footer {
    background-color: $fourth;
    .FirstFooter {
        border-bottom: 1px solid $secondary;
        .input-group {
            input {
                padding: 0.25rem 0.75rem !important;
            }
            span {
                cursor: pointer;
                // padding: 0.5rem 0.75rem !important;
                color: white;
                padding: 8px 17px;
                background-color: $fourth;
                text-transform: uppercase;
                font-weight: 400;
                letter-spacing: 0.3px;
                line-height: 20px;
                border-radius: 5px;
            }
        }
    }
    .footerThree {
        border-top: 1px solid $secondary;
        .amr {
            color: $third;
        }
    }
}
@media (max-width: $lg) {
    footer {
        .FirstFooter {
            .footer-top-data {
                h2 {
                    font-size: 25px !important;
                }
                img {
                }
            }
        }
        .secondFooter {
            .row {
                justify-content: space-between;
                row-gap: 30px;
            }
            // h4 {
            //     font-size: 20px;
            // }
            // address,
            // a {
            //     font-size: 15px;
            // }
        }
    }
}
@media (max-width: $tablet) {
    footer {
        .FirstFooter {
            .footer-top-data {
                h2 {
                    font-size: 19px !important;
                }
                img {
                    width: 25px;
                }
            }
        }
        .secondFooter {
            // h4 {
            //     font-size: 18px;
            // }
            // address,
            // a {
            //     font-size: 13px;
            // }
        }
    }
}
@media (max-width: $phone) {
    footer {
        .secondFooter {
            div:nth-child(1) {
                text-align: center;
            }
            .socialIcons {
                justify-content: center;
            }
        }
    }
}
